include run_tests.py
include kmlComperator.py

recursive-include isySUR/tests test_*.py
recursive-include testData/dataOnlyForTests *

include testData/Data.txt

recursive-include doc/Documentation *

include surConfig.cfg
