recursive-include isySUR/tests test_*.py
include run_tests.py
include surConfig.cfg

include doc/isySUR_Manual.pdf
include doc/isySUR_API.pdf

recursive-include testData/dataOnlyForTests *
include testData/Data.txt
include testData/isyData.txt

recursive-include android *
