recursive-include isySUR/tests test_*.py
include run_tests.py
include kmlComperator.py

# TODO chance this to manual.pdf in main directory when finished
include doc/Documentation/main.pdf

recursive-include testData/dataOnlyForTests *
include testData/Data.txt
